.project-page {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.info-card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.sub-cards-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  outline: 2px solid rgba(44, 147, 170, 0.444);
  outline-style: double;
  border-radius: 20px;
}

.sub-cards-container.expanded {
  max-height: 1200px;
  opacity: 1;
}

.sub-cards-container .info-card {
  margin-bottom: 10px;
}

.info-card.expanded {
  grid-row: span 2;
}

.fade-in {
  animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-info {
  font-size: 20px;
  font-weight: 350;
  display: flex;
  justify-content: center;
}
